<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">

          <div class="col-sm-4">

            <div class="form-group">
              <%= f.label :code %>
              <%= f.text_field :code, class: "form-control", placeholder: "Code" %>
            </div>
            <div class="form-group">
              <%= f.label :bar_code, 'Bar Code' %>
              <%= f.text_field :bar_code, class: "form-control", placeholder: "Bar Code" %>
            </div>
            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
            </div>
            <div class="form-group">
              <%= f.label :identification %>
              <%= f.text_field :identification, class: "form-control", placeholder: "Identification" %>
            </div>
            <div class="form-group">
              <%= f.label :ncm, 'NCM' %>
              <%= f.text_field :ncm, class: "form-control", placeholder: "NCM" %>
            </div>
            <div class="form-group">
              <%= f.label :brand %>
              <%= f.text_field :brand, class: "form-control", placeholder: "Brand" %>
            </div>
            <div class="form-group">
              <%= f.label :unity %>
              <%= f.text_field :unity, class: "form-control", placeholder: "Unity" %>
            </div>
            <div class="form-group">
              <%= f.label :cost %>
              <%= f.text_field :cost, class: "form-control", placeholder: "Cost" %>
            </div>
            <div class="form-group">
              <%= f.label :observation %>
              <%= f.text_area :observation, class: "form-control custom-text-area", placeholder: "Observation" %>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="form-group">
              <%= f.label :provider %>
              <%= f.text_field :provider, class: "form-control", placeholder: "Provider" %>
            </div>
            <div class="form-group">
              <%= f.label :stock %>
              <%= f.text_field :stock, class: "form-control", placeholder: "Stock" %>
            </div>
            <div class="form-group">
              <%= f.label :min_stock, 'Mix Stock' %>
              <%= f.text_field :min_stock, class: "form-control", placeholder: "Min Stock" %>
            </div>
            <div class="form-group">
              <%= f.label :max_stock, 'Max Stock' %>
              <%= f.text_field :max_stock, class: "form-control", placeholder: "Max Stock" %>
            </div>
            <div class="form-group">
              <%= f.label :stock_purchase, 'Stock Purchase' %>
              <%= f.text_field :stock_purchase, class: "form-control", placeholder: "Stock Purchase" %>
            </div>
            <div class="form-group">
              <%= f.label :factor %>
              <%= f.text_field :factor, class: "form-control", placeholder: "Factor" %>
            </div>
            <div class="form-group">
              <%= f.label :weight %>
              <%= f.text_field :weight, class: "form-control", placeholder: "Weight" %>
            </div>
            <div class="form-group">
              <%= f.label :size %>
              <%= f.text_field :size, class: "form-control", placeholder: "Size" %>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <%= f.check_box :inactive %> Inactive
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <%= f.check_box :for_sale %> For Sale
                </label>
              </div>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="form-group">
              <%= f.label :kind %>
              <%= f.number_field :kind, class: "form-control", placeholder: "Kind" %>
            </div>
            <div class="form-group">
              <%= f.label :gender %>
              <%= f.text_field :gender, class: "form-control", placeholder: "Gender" %>
            </div>
            <div class="form-group">
              <%= f.label :composition %>
              <%= f.text_field :composition, class: "form-control", placeholder: "Composition" %>
            </div>
            <div class="form-group">
              <%= f.label :feedstock %>
              <%= f.text_field :feedstock, class: "form-control", placeholder: "Feedstock" %>
            </div>
            <div class="form-group">
              <%= f.label :expedient_material, 'Expedient Material' %>
              <%= f.text_field :expedient_material, class: "form-control", placeholder: "Expedient Material" %>
            </div>
            <div class="form-group">
              <%= f.label :currency %>
              <%= f.text_field :currency, class: "form-control", placeholder: "Currency" %>
            </div>
            <div class="form-group">
              <%= f.label :ipi, "IPI" %>
              <%= f.text_field :ipi, class: "form-control", placeholder: "IPI" %>
            </div>

            <div class="form-group">
              <%= f.label :categories %>
              <%= f.text_area :fake_categories, value: @product.categories.map(&:description).join("; ").presence || "None", class: 'form-control custom-text-area', disabled: true %>
              <%= f.hidden_field :categories, value: @product.categories.map(&:description).to_json %>
            </div>

            <div class="form-group">
              <%= f.label :selling_values %>
              <%= f.text_area :fake_selling_values, value: @product.selling_values.map(&:value).join("; ").presence || "None", class: 'form-control custom-text-area', disabled: true %>
              <%= f.hidden_field :selling_values, value: @product.selling_values.map(&:value).to_json %>
            </div>


          </div>

        </div>

          <div class="row">

            <div class="col-sm-4">
              <div class="form-group">
                <%= button_tag(:type => 'button', :class => "btn btn-default btn-block open-modal-categories", :'data-toggle' => "modal", :'data-target' => "#modal") do %>
                  <span class="glyphicon glyphicon-<%= f.object.new_record? ? "plus" : "pencil" %>"></span> <%= f.object.new_record? ? "Create" : "Update" %> Categories
                <% end %>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <%= button_tag(:type => 'button', :class => "btn btn-default btn-block open-modal-selling-values", :'data-toggle' => "modal", :'data-target' => "#modal") do %>
                  <span class="glyphicon glyphicon-<%= f.object.new_record? ? "plus" : "pencil" %>"></span> <%= f.object.new_record? ? "Create" : "Update" %> Selling Values
                <% end %>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <%= button_tag(type: 'submit', class: "btn btn-primary btn-block") do %>
                  <span class="glyphicon glyphicon-ok"></span> <%= f.object.new_record? ? "Create" : "Save" %>
                <% end %>
              </div>
            </div>

          </div>

      </div>
    </div>

  </div>

<% end %>

<!-- Selling Values Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">

        <div id="inputs"></div>
        <%= hidden_field_tag :title %>
        <%= hidden_field_tag :placeholder %>
        <%= hidden_field_tag :values %>
        <%= hidden_field_tag :field %>
        <%= hidden_field_tag :fake %>

      </div>
      <div class="modal-footer">


        <button id="add-field" type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        </button>

        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Close
        </button>

        <button id="modal-confirm" type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Confirm
        </button>

      </div>
    </div>
  </div>
</div>
<!-- Selling Values Modal -->

