<p id="notice"><%= notice %></p>

<p>
  <strong>Unity:</strong>
  <%= @product.unity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @product.identification %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @product.observation %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @product.provider %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Bar code:</strong>
  <%= @product.bar_code %>
</p>

<p>
  <strong>Min stock:</strong>
  <%= @product.min_stock %>
</p>

<p>
  <strong>Max stock:</strong>
  <%= @product.max_stock %>
</p>

<p>
  <strong>Stock purchase:</strong>
  <%= @product.stock_purchase %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @product.factor %>
</p>

<p>
  <strong>Ncm:</strong>
  <%= @product.ncm %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Inactive:</strong>
  <%= @product.inactive %>
</p>

<p>
  <strong>Type:</strong>
  <%= @product.type %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @product.composition %>
</p>

<p>
  <strong>Feedstock:</strong>
  <%= @product.feedstock %>
</p>

<p>
  <strong>Expedient material:</strong>
  <%= @product.expedient_material %>
</p>

<p>
  <strong>For sale:</strong>
  <%= @product.for_sale %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @product.currency %>
</p>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Ipi:</strong>
  <%= @product.ipi %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @product.gender %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
